<!DOCTYPE HTML>
<html lang = "en" >
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="/public/css/done.css">

    <script src="/scripts/done/offBorder.js"></script>
    <!--<script src="/scripts/done/proveForm.js"></script>-->

  </head>
<body>
  <div class = "block">
  <h1>Confirm Registration</h1>
  <p>Enter the code sent to your email<br><span class = "spam">Please check your spam folder</span></p>
  <div id="conEm">
    <form name ="myForm" method="post" action="/confirmEmail" onsubmit="return proveForm()">
      <div class="code">
        <input autofocus type="text" id = "code" name="confirmEmail" autocomplete="off" placeholder="Enter code from Email" onclick = "offBorderCode()">
      </div>
      <div class="span">
        <span class = "enterError" id = 'errorCode'></span>
      </div>
      <br>
      <div class="send">
        <input type = "submit" id = "submit" value = "Send">
      </div>
    </form>
  </div>

  <script>
  function proveForm()
  {
    if(document.myForm.confirmEmail.value == '' || document.myForm.confirmEmail.value != <%= data %> )
    {
      document.getElementById('errorCode').style.display = 'block';
      document.getElementById('errorCode').innerHTML = 'Error code';
      document.getElementById('code').style.border = '1px solid red';
      return false;
    }
  }
  </script>

</div>
</body>
</html>
