<!DOCTYPE HTML>
<html lang = "en" >
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Заголовок страницы</title>
  <style>
      body
      {
        background-image: url(background.jpg);
      }
      .block{text-align: center; width : 70%; margin-left : 15%}
      h1
      {
        color: #FFFFFF; font-size: 400%;
      }
      p
      {
        color: #FFFFFF; font-size: 300%;
      }
      b
      {
        color: #FFFFFF; font-size: 150%;
      }

      .enterError
      {
         color: #fffb00;
        float: right;
         text-align: center;
         font-size: 17px;
         display: none;
      }

      input[type="text"]
      {
         text-align: center;
         height: 15px;
         border: 1px solid grey;
      }

      input[type='submit']
      {
        background-color: grey;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-left: 35px;
      }

      #conEm
      {
        width: 220px;
        height: 65px;
        margin: 0 auto;
        text-align: left;
      }
  </style>
</head>
<body>
  <div class = "block">
  <h1>Подтвердите регистрацию</h1>
  <p>Введите код отправленный на ваш Email</p>
  <div id="conEm">
    <form name ="myForm" method="post" action="/confirmEmail" onsubmit="return proveForm()">
        <input autofocus type="text" id = "code" name="confirmEmail" autocomplete="off" placeholder="Enter code from Email" onclick = "offBorderCode()">
        <span class = "enterError" id = 'errorCode'></span>

      <br><input type = "submit" id = "submit" value = "Send">
    </form>
  </div>

     <script>
       function proveForm()
       {
         if(document.myForm.confirmEmail.value == '' || document.myForm.confirmEmail.value != <%= data %>)
         {
           document.getElementById('errorCode').style.display = 'block';
           document.getElementById('errorCode').innerHTML = 'Error code';
           document.getElementById('code').style.border = '1px solid red';
           return false;
         }

       }
     </script>

     <script>
       function offBorderCode()
       {
         document.getElementById("errorCode").style.display = "none";
         document.getElementById('code').style.border = '1px solid grey';
       }
     </script>


</div>
</body>
</html>
