<!DOCTYPE HTML>
<html lang = "en" >
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>User Base</title>

    <link rel="stylesheet" href="/public/css/doneEnter.css">

    <script src="/scripts/doneEnter/anjular.js"></script>
    <script src="/scripts/doneEnter/CheckForm.js"></script>
    <script src="/scripts/doneEnter/hide.js"></script>
    <script src="/scripts/doneEnter/offBorderSubject2.js"></script>

  </head>
<body ng-app="myApp" ng-controller = "myController">
   <a href="/" class = "c">To main</a>
  <div class = "block">
  <h1>User Base</h1>
    <div class = "divtable">
      <table>
        <tr>
          <td class = "naming">Id</td>
          <td class = "naming">NickName</td>
          <td class = "naming">Password</td>
          <td class = "naming">Email</td>
          <td class = "naming">Registration date</td>
          <td class = "naming">Send Message</td>
          <td class = "naming">Delete User</td>
        <tr>
        <tr ng-repeat = "item in dataset">
          <td class = "data">{{item.id}}</td>
          <td class = "data">{{item.name}}</td>
          <td class = "data">{{item.password}}</td>
          <td class = "data">{{item.email}}</td>
          <td class = "data">{{item.time}}</td>
          <td class = "data"><button id = "link" name = "link" onclick="sendEmail()" ng-click="linkUser(item.email)">Link</button></td>
          <td class = "data"><button ng-click="delUser(item.id)">Del User</button></td>
        </tr>
      </table>

      <br><br>
<form name = "myForm" id = "myForm" action="/sendMessage" method="post">

      <div class="message" id = "message">
          <input class = "getter" type="text" name="addEmail" id = "addEmail" value = "{{dataLink}}">
          <input class = "close" name = "close"  value = "Close" onclick="offHide()">
          <input type="text" name="subject" id = "subject" placeholder="Enter subject" autocomplete="off" onclick = "offBorderSubject2()">
          <textarea name="text" rows="5" cols="70" id = "hide" placeholder="Enter your message"></textarea>
          <input class = "send" type="submit" id = "submit" name="submit" value="Send Message">
      </div>
</form>

<div id="result" style = "color : yellow; margin-left: 30px "></div>

    </div>
  </div>

</body>
</html>
