<!DOCTYPE HTML>
<html lang = "en" >
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="/public/css/done.css">
  </head>
<body>
  <div class = "block">
  <h1>Подтвердите регистрацию</h1>
  <p>Введите код отправленный на ваш Email</p>
  <div id="conEm">
    <form name ="myForm" method="post" action="/confirmEmail" onsubmit="return proveForm()">
        <input autofocus type="text" id = "code" name="confirmEmail" autocomplete="off" placeholder="Enter code from Email" onclick = "offBorderCode()">
        <span class = "enterError" id = 'errorCode'></span>

      <br><input type = "submit" id = "submit" value = "Send">
    </form>
  </div>

     <script>
       function proveForm()
       {
         if(document.myForm.confirmEmail.value == '' || document.myForm.confirmEmail.value != <%= data %>)
         {
           document.getElementById('errorCode').style.display = 'block';
           document.getElementById('errorCode').innerHTML = 'Error code';
           document.getElementById('code').style.border = '1px solid red';
           return false;
         }

       }
     </script>

     <script>
       function offBorderCode()
       {
         document.getElementById("errorCode").style.display = "none";
         document.getElementById('code').style.border = '1px solid grey';
       }
     </script>


</div>
</body>
</html>
