<!DOCTYPE HTML>
<html lang = "en" >
  <head>
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="/public/css/ErrorLogIn.css">
  </head>
<body>
  <div class = "block">
  <h1>Error log in</h1>
  <p><a href = "/logIn"> Try one more time! </a> </p>
</div>
</body>
</html>
