<!DOCTYPE HTML>
<html lang = "en" >
<head>
  <title>Заголовок страницы</title>
  <style>
      body
      {
        background-image: url(background.jpg);
      }
      .block{text-align: center; width : 70%; margin-left : 15%}
      h1
      {
        color: #FFFFFF; font-size: 400%;
      }
      p a
      {
        color: red;
        font-size: 300%;
      }
      b
      {
        color: #FFFFFF; font-size: 150%;
      }
  </style>
</head>
<body>
  <div class = "block">
  <h1>Error log in</h1>
  <p><a href = "/logIn"> Try one more time! </a> </p>
</div>
</body>
</html>
