<!DOCTYPE HTML>
<html lang = "en" >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Sign up</title>
  <link rel="stylesheet" href="/public/css/register.css">

  <script src="/scripts/register/anjular.js"></script>
  <script src="/scripts/register/CheckForm.js"></script>
  <script src="/scripts/register/Data.js"></script>
  <script src="/scripts/register/offBorder.js"></script>

</head>
<body ng-app = "errorName" ng-controller = "controlName">


  <div class = "logo">

 <span class = "picture"><img src = "/main.jpg" width = "398" height = "137" > </span>

 <div class = "text">

    <div><a href = "/contact" >Contact</a></div>

    <div><ul class = "menu"><li class="service"><a href = "/" >Services</a>

      <ul class="submenu">
             <li><a href=#>Sudmenu 1</a></li>
             <li><a href=#>Sudmenu 1</a></li>
             <li><a href=#>Sudmenu 1</a></li>
       </ul>

   </li></ul></div>

    <div><a href = "/about" >About</a></div> <div> <a href = "/" >Home</a></div>

 </div>

 </div>

 <hr>

  <div class = "block">
  <h1>Enter the data for registration</h1>
  <div class = "form">
  <form name = "myForm" method = "post" action = "/getData" onsubmit="return checkForm()">

    <div class = "nick"> <label>NickName : </label>
      <input autofocus type = "text" name = "name" placeholder = "Enter Your NickName" autocomplete="off" id = "name" onclick = "offBorderName()" ng-model = "name">
      <span class = "enterError" id = 'errorName'></span>
      <br>
      <span ng-repeat = "item in dataset | filter : name : true " style = "color : yellow; margin-left: 100px">Name <span id = "item">{{item.name}}</span> is taken</span>
    </div>
          <br>
    <div class="pass"> <label>Password : </label>
      <input type = "password" name = "password" placeholder = "Password" autocomplete = "off" id = "password" onclick = "offBorderPassword()">
      <span class = "enterError" id = 'errorPassword'></span>
    </div>
          <br>
    <div class="email"> <label>Email : </label>
        <input type="text" id = "email" name = "email" placeholder="Enter E-mail" onclick = "offBorderEmail()">
        <span class = "enterError" id = 'errorEmail'></span>
    </div>
    <p class = "code">Activation code will be sent to this Email. Please enter email type @gmail.com</p>
    <br>

    <input name = "clock" id = "clock" hidden = "true">
    <input type = "submit" id = "submit" value="Submit data">


  </form>

  </div>
</div>

</body>
</html>
