body
{
  background-image: url('/public/background.jpg');
}
.block
{
  text-align: center;
  width: 750px;
  margin: 0 auto;
  font-size: 13px;
}
h1
{
  color: #FFFFFF;
  font-size: 400%;
}
.user
{
  background-color : white;
  width : 700px;
  height : 600px;
  margin: 0 auto;
  text-align: center;
  color : #000000;
  font-size: 22px;
  border-radius: 10px;

}
.data
{
  text-align: left;
  font-family: 'Arial';
  font-size: 18px;
  width: 360px;
  margin-left: 40px;
}

.changePassword
{
   margin-left: 400px;
   margin-top: -85px;
   width: 180px;
}

.newPassword, .change, .oldPassword, .moreNewPassword
{
  margin-left: 25px;
  margin-top: 10px;
  width: 170px;
  border: 1px solid grey;
}

.newPassword, .change, .oldPassword, .moreNewPassword
{
  display: none;
}

.close
{
  margin-top: 10px;
  margin-left: 150px;
  display: none;
}

A
{
   color : black;
   font-size: 17px;
   margin-left: 620px;
}

A:hover
{
  background: grey;
}

.oldPassword, .newPassword, .moreNewPassword
{
    height: 15px;
}

button
{
  background-color: grey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid grey;
}

input[type=submit]
{
  background-color: grey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
}
