body
{
    background-image: url('/public/background.jpg');
}
A
{
 text-decoration: none;
color : #FFFFFF;
font-family:'Times New Roman';
}
A:hover
{
 background: #786b59;

}
.logo
{
margin-top : 40px;
font-family:'Times New Roman';
font-size: 200%;
color : #FFFFFF;
padding-bottom: 30px;
}
.picture
{
  margin-left: 100px;
  width : 450px;
}
h1
{
 font-family:'Times New Roman';
 font-size: 30px;
 color : #FFFFFF;
}
p
{
 font-style : oblique ;
 font-weight : lighter;
 font-family:'Times New Roman';
 font-size: 24px;
 color : #C0C0C0;
 margin-bottom: 50px;
}
.text
{
 float : right;
 margin-top : 60px;
 font-size : 25px;
 width: 750px;
 height: 30px;
}
.text div
{
  float: right;
  margin-right: 80px;
  width: 100px;
}
hr
{
 border : 1px solid;
 color : #FFFFFF;
}
.button
{
 margin : 0 auto;
 border: 1px solid gray;
 font-family:'Times New Roman';
 padding : 4px;
 width: 250px;
 font-weight : bold;
 font-size: 120%;
 color : #C0C0C0;
}
@media(max-width : 1300px)
{
  hr
  {
   margin-top : 45px;
  }
}
.log
{
   margin-left: 45px;
}
.sign
{
 padding-left: 20px ;
 margin-right: 45px;
  border-left : 1px #bb0000 solid;
  float : right;
}
ul
{
 display: block;
 margin: 0;
 padding: 0;
 list-style: none;
 width: 120px;
}
li
{
  width: 120px;
  padding-top: 5px ;
  margin-top: 5px;
  padding-left: 5px;
}
.service
{
  padding: 0;
  margin: 0;
}
 ul.submenu
 {
     display: none;
     width: 120px;
     top: 37px;
     left: 0;
     background: grey;
     font-size: 20px ;
 }

 ul.menu > li:hover > ul.submenu
 {
     display: block;
 }

 .main
 {
   width: 750px;
   margin: 5% 0 0 5%;
 }
